@font-face {
    font-family: "Lato-regular";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-light";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-bold";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-black";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

section {
    padding: 61px 40px 67px 40px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: space-evenly;
    width: 940px;
    align-items: center;
    margin: 0 auto;
}

.section-form {
    background-color: #f06c64;
    color: #f0d8d9;
}

.form-header {
    font-size: 30px;
    font-family: Lato-black;
    margin-bottom: 19px;
}

.form-text {
    font-size: 18px;
    font-family: Lato-light;
    letter-spacing: -0.2px;
    line-height: 30px;
    margin-bottom: 41px;
}

.form-grid {
    display: grid;
    grid-template-columns: 620px 300px;
    grid-gap: 20px;
    margin-bottom: 2px;
}

.form-block {
    display: grid;
    grid-template-rows: 39px 39px 39px 202px;
    grid-gap: 15px;
    padding-top: 2px;
}

.form-field {
    background-color: #d6564f;
    border: none;
    padding-left: 15px;
    border-radius: 8px;
    font-size: 12px;
}

input::placeholder {
    color: #f48c8f;
}

.contact-header {
    font-size: 18px;
    font-family: Lato-black;
    margin-bottom: 8px;
}

.contact-text {
    font-family: Lato-regular;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.15px;
    margin-bottom: 23px;
    text-align: justify;
}

.contact {
    font-family: Lato-regular;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: -0.15px;
    display: block;
    text-decoration: none;
    color: #f0d8d9; !important;
}

.contact-icon1 {
    margin-right: 13px;
    margin-left: 3px;
}

.contact-icon2 {
    margin-right: 11px;
    margin-left: 1px;
}

.contact-icon3 {
    margin-right: 10px;
}

.section-form--divider {
    background-color: #ea676b;
    height: 5px;
    width: 100%;
}

.section-footer {
    background-color: #2d303a;
    padding-top: 21px;
    padding-bottom: 20px;
    color: #575d74;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-copyright {
    padding-top: 8px;
    padding-left: 46px;
    font-size: 12px;
}

.footer-social-block {
    justify-self: right;
    padding-right: 37px;
}

.footer-social-icons {
    margin-right: 4px;
}

.footer-social-icons:hover {
    cursor: pointer;
}




